.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__poster {
  width: 100%;
}

.header__info-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* add task */
.add-section__title {
  margin: 0 0 20px;
}

.task-add {
  display: flex;
}

.task-add__text-input {
  width: 318px;
}

/* task list */
.task-list {
  margin: 0px;
  padding: 0px;
}

.task-list__item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

/* task */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.task-add__text-input,
.task__text-input {
  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.task-add__text-input,
.task__text-input,
.task__title {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__text-input {
  display: none;
}

.task__text-input:focus {
  color: #333;
}

.task__checkbox {
  margin: 0 10px;
}

.task__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__text-input {
  width: 226px;
}

.task_edit .task__text-input {
  display: inline-block;
  width: 224px;
}

.task_edit .task__title {
  display: none;
}

.completed-tasks .task__title {
  text-decoration: line-through;
  color: #888;
}

/* button */

.button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.button_delete .button-icon {
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}

.button_delete:hover .button-icon {
  transform: rotatez(0);
}
